.shortbutton_container{
    display: flex;
    .shorthbutton{
        @include button-style($color-1, $color-5,15px,500,8px);
        @include size-style(90px, 40px);

        flex-shrink: 0;
        padding: 0px 15px;

        @include button-center-style();

        &:hover{
        @include button-hover-style($color-4, $color-2, 500);};
    }
}
