@forward './effect.scss';
@forward './reset.scss';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// 기본적인 컬러 팔레트 설정
$color-1: #FFFDF8; // 가장 밝은 색
$color-2: #F6F1E0;
$color-3: #ECE4CE;
$color-4: #CFC4B1;
$color-5: #A59983;
$color-6: #887F6F; 
$color-7: #6A5A47;

// 폰트 사이즈 설정 (em 단위, 기본 font-size를 10px로 설정)
html {
  font-size: 10px; // em 단위 계산을 위한 기준값 (1em = 10px)
}

// 폰트 사이즈 2단위로 커지게 설정
$font-size-base: 1em; // 10px
$font-size-2: 1.2em; // 12px
$font-size-3: 1.4em; // 14px
$font-size-4: 1.6em; // 16px
$font-size-5: 1.8em; // 18px
$font-size-6: 2em; // 20px
$font-size-7: 2.2em; //22
$font-size-8: 2.4em; //24
$font-size-9: 2.6em; //26
$font-size-10: 2.8em; //28
$font-size-11: 3em; //30


// 기본 폰트 스타일 설정
body {
  font-family: 'Pretendard', sans-serif; // 프리텐다드 폰트 적용
  font-size: $font-size-base;
  line-height: 1.6;
  color: $color-6; // 텍스트 기본 색상
}

// 컬러를 쉽게 사용할 수 있도록 mixin 설정
@mixin background-color($color) {
  background-color: $color;
}

@mixin text-color($color) {
  color: $color;
}

// 폰트 사이즈를 쉽게 설정할 수 있는 Mixin 추가
@mixin font-size($size) {
  font-size: $size;
}

// 버튼 호버 mixin
@mixin button-hover-style($color1, $color2, $font-weight) {
  background-color : $color1;
  color : $color2;
  font-weight: $font-weight;
  cursor: pointer;
}

@mixin button-style($color1, $color2,$font-size,$font-weight, $boder-radious) {
  background-color : $color1;
  color : $color2;
  font-size: $font-size;
  font-weight: $font-weight;
  border-radius:$boder-radious;
  border: none;
  cursor: pointer;
}


@mixin center-style(){
  display: flex;
  align-items: center; 
  justify-content: center; 
}

@mixin size-style($width, $height){
  width: $width;
  height: $height;
}
